---
layout: default
---
<div class="home">

  <p>{{site.description}}</p>

  {{ content }}

  <h1 id="recent-news">Recent news</h1>

  <ul class="post-list">
    {% for post in site.posts limit:10 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          {% assign url =  post.id | split:'/' | last | prepend: '/news.html#' %}
          <a class="post-link" href="{{ url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
